#loginCard {
    margin-top: 30px;
      background-size: cover;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 35px;
  }